<h2>Rock Paper Scissors</h2>
<form action="/results">
  <div class="form-group">
    <label for ="player_one">Player One's Answer</label>
    <input id="player_one" name="player_one" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="player-two">Player Two's Answer</label>
    <input id="player_two" name="player_two" class="form-control" type="text">
    </div>
  <button type="submit" class="btn-success">Send</button>
</form>
